/slot2_Inheritance/nbproject/private/
/slot2_Inheritance/build/
/Polymorphism/nbproject/private/
/Polymorphism/build/
/ClassString/nbproject/private/
/ClassString/build/
/Lab2/nbproject/private/
/Lab2/build/
/TrucToaDo/nbproject/private/
/TrucToaDo/build/
/Engine/nbproject/private/
/Engine/build/
/workshop3/nbproject/private/
/workshop3/build/
/Practical/nbproject/private/
/Practical/build/
/Slot9/given_Slot 9/given_Slot 9/Q1/build/
/Slot9/given_Slot 9/given_Slot 9/Q1/dist/